* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.header_block {
    width: 1200px;
    margin: 20px auto;
    text-align: center;
    h1 {
        margin-bottom: 20px;
    }
}

.five {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 5px;
}

.five:active {
    scale: 0.95;
}
.all {
    width: 200px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 5px;
}

.all:active {
    scale: 0.95;
}

.elem {
    background-color: black;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 400px;
}

.text {
    padding: 20px;
}
.topText {
    color: #fff;
    font-size: 18px;
}
.midText {
    color: rgb(203, 203, 203);
    font-size: 10px;
    margin: 10px 0;
    height: 50px;
    overflow-y: scroll;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.it {
    display: flex;
    gap: 5px;
    align-items: center;
}

.spaText {
    font-size: 20px;
    color: #fff;
}

.but {
    background-color: #fff;
    color: #000;
    margin: 20px 20px 15px;
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.acctive {
    background-color: rgb(0, 166, 255);
    color: #fff;
    margin: 20px 20px 15px;
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
}
.but:hover {
    scale: 1.02;
    transition: 300ms ease;
}
.acctive:hover {
    scale: 1.02;
    transition: 300ms ease;
}
.acctive:active {
    scale: 1;
    transition: 500ms ease;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;
}

.imag {
    width: 100%;
    height: 40%;
    object-fit: contain;
    background-color: #fff;
}
